@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.img {
  width: 20%;
}

header {
  background-color: #ffefef;
  text-align: center;
}

footer {
  background-color: #ffffff;
  text-align: center;
}
